{% block content %}
<style>
    .login-card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 300px; /* Sesuaikan lebar kartu sesuai kebutuhan Anda */
        padding: 20px;
        border-radius: 10px; /* Membuat sudut-sudut yang lebih lembut */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Efek bayangan */
        background-color: #ffffff; /* Warna latar belakang kartu */
    }

    .login-card h1 {
        font-size: 24px; /* Ukuran font judul */
    }

    .login-card input[type="text"],
    .login-card input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .login-card .login_btn {
        background-color: #007BFF; /* Warna tombol login */
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .login-card .login_btn:hover {
        background-color: #0056b3; /* Warna tombol saat hover */
    }
</style>

<div class="login-card">
    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
</div>
{% endblock content %}
